
Feu el llistat següent: ["Roger","Lidia","Neus","Marc","Anna","Arnau","Héctor","Sílvia"]
Creeu un bucle.

Feu una iteració
iter=0
iter=iter+1

Printeu "La persona es diu:---"

In [ ]:
iter=0
llistat=["Roger","Lidia","Neus","Marc","Anna","Arnau","Héctor","Sílvia"]
for nom in llistat:
  iter=iter+1
  print("La persona es diu:",nom)

La persona es diu: Roger
La persona es diu: Lidia
La persona es diu: Neus
La persona es diu: Marc
La persona es diu: Anna
La persona es diu: Arnau
La persona es diu: Héctor
La persona es diu: Sílvia

Feu un recompte de quantes persones hi ha en aquest llistat

In [ ]:
llistat=["Roger","Lidia","Neus","Marc","Anna","Arnau","Héctor","Sílvia"]
llistat.count("Roger")

1

In [ ]:
llistat=["Roger","Lidia","Neus","Marc","Anna","Arnau","Héctor","Sílvia"]
len(llistat)

8

In [ ]:
llistat=["Maria","Ricard","Laia","Josep","Júlia","Pere","Laura","Kai"]
llistat2="".join(llistat)
print(llistat2)
llistat3=str.upper(llistat2)
print(llistat3)
llistat2.count("r")
print(llistat2.count("R"))
print(llistat2.count("r"))
print(llistat3.count("r"))
print(llistat3.count("R"))

MariaRicardLaiaJosepJúliaPereLauraKai
MARIARICARDLAIAJOSEPJÚLIAPERELAURAKAI
1
4
0
5

In [ ]:
Mesos = ["gener","febrer","març","abril","maig","juny","juliol","agosto","setembre","octubre","novembre","desembre"]
Cardinal = ["primer","segon","tercer","quart","cinquè","sisè", "setè", "vuitè","novè","desè","undècim","duodècim"]
iter = 1
for mes in Mesos:
    print("El", Cardinal [iter-1], "mes de l'any és el", mes)
    iter = iter+1

El primer mes de l'any és el gener
El segon mes de l'any és el febrer
El tercer mes de l'any és el març
El quart mes de l'any és el abril
El cinquè mes de l'any és el maig
El sisè mes de l'any és el juny
El setè mes de l'any és el juliol
El vuitè mes de l'any és el agosto
El novè mes de l'any és el setembre
El desè mes de l'any és el octubre
El undècim mes de l'any és el novembre
El duodècim mes de l'any és el desembre